@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    color: hsl(4, 45%, 22%);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.attribution {
    position: absolute;
    width: 287px;
    font-size: 11px;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    transform: translate(-50%, -50%);
    height: 520px;
    width: 350px;
    top: 50%;
    left: 50%;
    border-radius: 5%;
}

.qr-code {
    position: absolute;
    left: 25px;
    top: 25px;
}

.qr-code img {
    border-radius: 5%;
}

.text {
    position: absolute;
    margin: auto;
    text-align: center;
    width: 350px;
    top: 325px;
}

.text h2 {
    margin: 20px 40px 20px 40px;
    text-align: center;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

.text h4 {
    margin: 20px 30px 20px 30px;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
